*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}


html{

    /* 10px font default 16px   10/16 = .625  */
    // Define what 1rem is 10px
    font-size: 62.5%;
}

body{
    box-sizing: border-box;
    z-index: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

}


